<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Help</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
<link rel="stylesheet" href="/css/Help.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Help">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xxl-mode" data-lang="en"><header class="u-clearfix u-custom-color-8 u-header u-header" id="sec-e69c"><div class="u-clearfix u-sheet u-sheet-1">
    <a href="/" class="u-image u-logo u-image-1" data-image-width="552" data-image-height="94">
      <img src="/images/logo.png" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="LG">
      <div class="menu-collapse u-custom-font" style="font-size: 1.5rem; letter-spacing: 0px; font-family: Poppins;">
        <a class="u-button-style u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-custom-font u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account" style="padding: 10px 30px;">Account</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/presentations" style="padding: 10px 30px;">Presentations</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/help" style="padding: 10px 30px;">Help</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/settings" style="padding: 10px 30px;">Settings</a>
        </li></ul>
                  </div>
                  <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-container-style u-custom-color-10 u-inner-container-layout u-opacity u-opacity-95 u-sidenav u-sidenav-1" data-offcanvas-width="238">
                      <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-custom-font u-nav u-popupmenu-items u-text-active-grey-15 u-text-hover-grey-10 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account">Account</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/presentations">Presentations</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/help">Help</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/settings">Settings</a>
            <a href="/logout" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-20 u-custom-font u-hover-custom-color-19 u-radius-6 u-btn-1">Logout</a>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
    <a href="/logout" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-radius-5 u-btn-2">Logout</a>
  </div></header>
      <section class="u-clearfix u-section-1" id="sec-da78">
        <div class="u-clearfix u-sheet u-valign-top-lg u-valign-top-md u-valign-top-xl u-valign-top-xxl u-sheet-1">
          <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-align-center u-custom-font u-text u-text-custom-color-8 u-text-default u-text-1">Help</h2>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-middle-xs u-container-layout-2">
                    <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-gradient u-group u-radius-5 u-shape-round u-group-1">
                      <div class="u-container-layout u-valign-bottom-xs u-container-layout-3">
                        <h3 class="u-custom-font u-text u-text-custom-color-8 u-text-default u-text-2">Commands:</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-8 u-text-default u-text-3">Other Help</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-8 u-text-default u-text-4">Email</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-24 u-text-default u-text-5">/all</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-24 u-text-default u-text-6">info@presenai.com</h3>
                        <h3 class="u-align-center u-custom-font u-text u-text-custom-color-24 u-text-7"> If you neeed help that isnt here  then send a email to the email</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-24 u-text-8">Shows all presentations made</h3>
                        <h3 class="u-custom-font u-text u-text-custom-color-8 u-text-default u-text-9">Bugs</h3>
                        <h3 class="u-align-center u-custom-font u-text u-text-custom-color-8 u-text-10">Presentations Levels</h3>
                        <h3 class="u-align-center u-custom-font u-text u-text-custom-color-24 u-text-11"> If you have a weird bug then send a email with in the title Bug: what kind of bug you have., Explain in full detail what is not working or glitching if the bug is repaired then you will get e mail back.</h3>
                        <h3 class="u-align-center u-custom-font u-text u-text-custom-color-24 u-text-12">Level 0/1 = basic texts not too hard to understand.<br>Level 2 = Little bit harder good for high school/work presentations.<br>Level 3 = The hardest level its good for work/college presentations.<br>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
    
    
      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6c00"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Created by Dyln.</p>
        <p class="u-small-text u-text u-text-variant u-text-1">Copyright ©2023 Dyln.</p>
        <a href="https://www.dmca.com/Protection/Status.aspx?ID=30cc4bd9-1d7b-4bec-8dc6-0a48291a5077" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=30cc4bd9-1d7b-4bec-8dc6-0a48291a5077"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      </div></footer>
  
</body></html>