<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>View Presentation</title>
    <link rel="stylesheet" href="/css/main.css" media="screen">
<link rel="stylesheet" href="/css/pptx_view.css" media="screen">
<script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="/js/main.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Presentation View">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <style>
  .u-dialog-section-6 .u-dialog-1 {
  width: 500px;
  min-height: 207px;
  height: auto;
  margin: 105px auto 60px;
}

.u-dialog-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-6 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .u-dialog-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-6 .u-dialog-1 {
    width: 340px;
  }
}

      /* {{#each images}}
      .u-section-2-{{@index}} .u-sheet-1 {
  min-height: 750px;
} 

@media (max-width: 1399px) {
  .u-section-2-{{@index}} .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-2-{{@index}} .u-image-1 {
    width: 882px;
    height: 496px;
  }
}

@media (max-width: 1199px) {
  .u-section-2-{{@index}} .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2-{{@index}}1 .u-image-1 {
    width: 638px;
    height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-2-{{@index}} .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-2-{{@index}} .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2-{{@index}} .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-2-{{@index}} .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-2-{{@index}} .u-image-1 {
    width: 380px;
    height: 214px;
  }
}
  
  .u-section-3 .u-container-layout-{{@index}} {
  padding: 0;
}

.u-section-3 .u-image-{{@index}} {
  width: 169px;
  height: 95px;
  margin: 0 auto;
}
      {{/each}} */
    </style>
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xxl-mode" data-lang="en"><header class="u-clearfix u-custom-color-8 u-header u-header" id="sec-e69c"><div class="u-clearfix u-sheet u-sheet-1">
    <a href="/" class="u-image u-logo u-image-1" data-image-width="552" data-image-height="94">
      <img src="/images/logo.png" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1" data-responsive-from="LG">
      <div class="menu-collapse u-custom-font" style="font-size: 1.5rem; letter-spacing: 0px; font-family: Poppins;">
        <a class="u-button-style u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-custom-font u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account" style="padding: 10px 30px;">Account</a>
        </li><li class="u-nav-item"><a style="outline: none; border: none;" class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/presentations" style="padding: 10px 30px;">Presentations</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/help" style="padding: 10px 30px;">Help</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-25 u-text-hover-grey-10" href="/account/settings" style="padding: 10px 30px;">Settings</a>
        </li></ul>
                  </div>
                  <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-container-style u-custom-color-10 u-inner-container-layout u-opacity u-opacity-95 u-sidenav u-sidenav-1" data-offcanvas-width="238">
                      <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-custom-font u-nav u-popupmenu-items u-text-active-grey-15 u-text-hover-grey-10 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account">Account</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/presentations">Presentations</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/help">Help</a>
        </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/account/settings">Settings</a>
            <a href="/logout" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-20 u-custom-font u-hover-custom-color-19 u-radius-6 u-btn-1">Logout</a>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
    <a href="/logout" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-custom-font u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-radius-5 u-btn-2">Logout</a>
  </div></header>
    <section class="u-clearfix u-valign-middle u-section-1" id="sec-5f2e">
      <h2 class="u-custom-font u-text u-text-custom-color-7 u-text-default u-text-1" id="pres-name">{{title}}</h2>
    </section>
    <section class="u-carousel u-slide u-block-e144-1" id="carousel_b087" data-interval="5000" data-u-ride="carousel">
      <ol class="u-absolute-hcenter u-carousel-indicators u-block-e144-2">
        {{#each images}}
          {{#ifeq @index 0}}
          <li data-u-target="#carousel_b087" class="u-active u-custom-color-16 u-shape-circle" data-u-slide-to="{{@index}}" style="width: 15px; height: 15px;"></li>
          {{else}}
          <li data-u-target="#carousel_b087" class="u-custom-color-16 u-shape-circle" data-u-slide-to="{{@index}}" style="width: 15px; height: 15px;"></li>
          {{/ifeq}}
        {{/each}}
        <!-- <li data-u-target="#carousel_b087" class="u-custom-color-16 u-shape-circle" data-u-slide-to="1" style="width: 15px; height: 15px;"></li>
        <li data-u-target="#carousel_b087" class="u-custom-color-16 u-shape-circle" data-u-slide-to="2" style="width: 15px; height: 15px;"></li> -->
      </ol>
      <div class="u-carousel-inner" role="listbox">
        {{#each images}}
          {{#ifeq @index 0}}
          <div id="slide-up slide-{{@index}}" class="u-active u-carousel-item u-clearfix u-section-2-{{@index}}">
            <div style="border: 3px solid black" class="u-clearfix u-sheet u-valign-middle u-sheet-1">
              <img class="u-image u-image-round u-radius-5 u-image-1" src="{{this}}">
            </div>
          </div>
          {{else}}
          <div id="slide-up slide-{{@index}}" class="u-carousel-item u-clearfix u-section-2-{{@index}}">
            <div style="border: 3px solid black" class="u-clearfix u-sheet u-valign-middle u-sheet-1">
              <img class="u-image u-image-round u-radius-5 u-image-1" src="{{this}}">
            </div>
          </div>
          {{/ifeq}}
        {{/each}}
        <!-- <div class="u-carousel-item u-clearfix u-container-align-center u-image u-section-2-2" data-image-width="1920" data-image-height="1080">
          <div class="u-clearfix u-sheet u-sheet-1"></div>
        </div>
        <div class="u-carousel-item u-clearfix u-container-align-center u-image u-section-2-3" data-image-width="1920" data-image-height="1080">
          <div class="u-clearfix u-sheet u-sheet-1"></div>
        </div> -->
      </div>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-custom-color-8 u-block-e144-3" href="#carousel_b087" role="button" data-u-slide="prev">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
        </span>
      </a>
      <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-custom-color-8 u-block-e144-4" href="#carousel_b087" role="button" data-u-slide="next">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
        </span>
      </a>
    </section>
    <section class="u-clearfix u-section-3" id="sec-8e7e">
      <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-expanded-width-xxl u-layout-horizontal u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {{#each images}}
            <div id="slide-down slide-{{@index}}" class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-{{@index}}">
                <img class="u-align-left-xs u-image u-image-default u-image-3 ls-is-cached lazyloaded" src="{{this}}" data-src="{{this}}" alt="" data-image-width="1920" data-image-height="1080">
              </div>
            </div>      
          {{/each}}
        <a id="prev-arrow" class="u-absolute-vcenter-lg u-absolute-vcenter-md u-absolute-vcenter-sm u-absolute-vcenter-xl u-absolute-vcenter-xxl u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" data-u-slide="prev" role="button">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
        </a>
        <a id="next-arrow" class="u-absolute-vcenter-lg u-absolute-vcenter-md u-absolute-vcenter-sm u-absolute-vcenter-xl u-absolute-vcenter-xxl u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" data-u-slide="next" role="button">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
        </a>
      </div>
      <button onclick="window.history.back()" class="u-btn u-btn-round u-button-style u-custom-color-8 u-custom-font u-hover-custom-color-9 u-radius-5 u-btn-1">Go Back</button>
      <button id="export-btn" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-8 u-custom-font u-hover-custom-color-9 u-radius-5 u-btn-2">Export</button>
    </section>
    
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6c00"><div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Created by Dyln.</p>
      <p class="u-small-text u-text u-text-variant u-text-1">Copyright ©2023 Dyln.</p>
      <a href="https://www.dmca.com/Protection/Status.aspx?ID=30cc4bd9-1d7b-4bec-8dc6-0a48291a5077" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=30cc4bd9-1d7b-4bec-8dc6-0a48291a5077"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    </div></footer>
      <section id="popup" class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-40 u-dialog-section-6" id="sec-e00a">
        <div class="u-container-style u-dialog u-radius-5 u-shape-round u-white u-dialog-1">
          <div class="u-container-layout u-container-layout-1">
            <img onclick="exportPres('pptx')" style="width: 100px;" class="cus-1 u-image u-image-contain u-image-default lazyload u-image-1" alt="" data-image-width="100" data-image-height="100" data-src="/images/Microsoft-PowerPoint-Logo.png">
            <img onclick="exportPres('image')" style="width: 100px;" class="cus-2 u-image u-image-contain u-image-default lazyload u-image-2" alt="" data-image-width="100" data-image-height="100" data-src="/images/istockphoto-931643150-612x612.jpg">
            <img onclick="exportPres('pdf')" style="width: 100px;" class="cus-3 u-image u-image-contain u-image-default lazyload u-image-3" alt="" data-image-width="100" data-image-height="100" data-src="/images/adobe-pdf3324.jpg">
          </div>
          <input type="hidden" name="{{csrf_name}}" value="{{csrf_value}}">
          <button id="close-btn" class="u-dialog-close-button u-icon u-text-custom-color-8 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
        </div>
      </section>
    <script src="/js/view.js"></script>
</body></html>