 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 319px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-1 .u-group-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    transition-duration: 0.5s;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 275px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-1 .u-group-1 {
    width: 660px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 131px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 35px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 83px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 82px;
  }
}

.u-section-1 .u-shape-1,
.u-section-1 .u-shape-1:before,
.u-section-1 .u-shape-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}