.u-section-1 .u-sheet-1 {
  min-height: 2267px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3rem;
  margin: 65px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 22px auto 0 304px;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-weight: 700;
  margin: 22px auto 0 220px;
}

.u-section-1 .u-text-4 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-5 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-6 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-7 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-8 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-9 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-10 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-11 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-12 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-13 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-14 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-15 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-16 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-17 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-18 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-19 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-20 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-21 {
  font-family: Poppins;
  font-weight: 700;
  margin: 30px auto 0 220px;
}

.u-section-1 .u-text-22 {
  margin: 0 487px 0 237px;
}

.u-section-1 .u-text-23 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 101px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-4 {
    margin-left: 147px;
    margin-right: 397px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 397px;
    margin-left: 147px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 397px;
    margin-left: 147px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-left: 47px;
    margin-right: 297px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 297px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 297px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 124px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 124px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 175px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 165px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 123px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 116px;
  }
}